/logs
.idea
*/.idea
*.iml
*/target
*/logs
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
monkey-boxcenter/.classpath
monkey-boxcenter/.project
monkey-boxcenter/.settings/org.eclipse.core.resources.prefs
monkey-boxcenter/.settings/org.eclipse.jdt.apt.core.prefs
monkey-boxcenter/.settings/org.eclipse.jdt.core.prefs
monkey-boxcenter/.settings/org.eclipse.m2e.core.prefs
monkey-coop/.classpath
monkey-coop/.project
monkey-coop/.settings/org.eclipse.core.resources.prefs
monkey-coop/.settings/org.eclipse.jdt.apt.core.prefs
monkey-coop/.settings/org.eclipse.jdt.core.prefs
monkey-coop/.settings/org.eclipse.m2e.core.prefs
monkey-core/.classpath
monkey-core/.project
monkey-core/.settings/org.eclipse.core.resources.prefs
monkey-core/.settings/org.eclipse.jdt.apt.core.prefs
monkey-core/.settings/org.eclipse.jdt.core.prefs
monkey-core/.settings/org.eclipse.m2e.core.prefs
monkey-data/.classpath
monkey-data/.project
monkey-data/.settings/org.eclipse.core.resources.prefs
monkey-data/.settings/org.eclipse.jdt.apt.core.prefs
monkey-data/.settings/org.eclipse.jdt.core.prefs
monkey-data/.settings/org.eclipse.m2e.core.prefs
monkey-gear/.classpath
monkey-gear/.project
monkey-gear/.settings/org.eclipse.core.resources.prefs
monkey-gear/.settings/org.eclipse.jdt.apt.core.prefs
monkey-gear/.settings/org.eclipse.jdt.core.prefs
monkey-gear/.settings/org.eclipse.m2e.core.prefs
monkey-mis/.classpath
monkey-mis/.project
monkey-mis/.settings/org.eclipse.core.resources.prefs
monkey-mis/.settings/org.eclipse.jdt.apt.core.prefs
monkey-mis/.settings/org.eclipse.jdt.core.prefs
monkey-mis/.settings/org.eclipse.m2e.core.prefs

monkey-kingdee/.classpath
monkey-kingdee/.project
monkey-kingdee/.settings/org.eclipse.core.resources.prefs
monkey-kingdee/.settings/org.eclipse.jdt.apt.core.prefs
monkey-kingdee/.settings/org.eclipse.jdt.core.prefs
monkey-kingdee/.settings/org.eclipse.m2e.core.prefs
monkey-trains/.classpath
monkey-trains/.project
monkey-trains/.settings/org.eclipse.core.resources.prefs
monkey-trains/.settings/org.eclipse.jdt.apt.core.prefs
monkey-trains/.settings/org.eclipse.jdt.core.prefs
monkey-trains/.settings/org.eclipse.m2e.core.prefs

# mac
.DS_Store